<div class="container mt-4 mb-4">
  <h2>Questions ({{questionsCount}})</h2>
  <div class="mt-4 mb-4">
    <div class="d-flex">
      <div class="p-2">
        <input class="form-control col-sm-10" [(ngModel)]="querySearch" type="text" placeholder="Suche..">
      </div>
      <div class="ml-auto p-2">
        <button class="btn btn-primary" (click)="addOrEditQuestion(isNewEntry)">New Question</button>
      </div>
    </div>
    <div class="ml-auto">
    </div>
  </div>
  <hr>
  <ul class="list-group list-group-flush text-muted" *ngFor="let question of questions | search : querySearch; let i = index">
    <li class="list-group-item">
      <div class="d-flex">
        <span class="btn mr-auto p-2" [routerLink]="[getQuestionId(question)]">{{i + 1}}. {{question.question}}</span>
<!--        those two buttons musst have restricktion on Admin user, or later user specific to do.-->
        <button class="btn btn-success p-2" (click)="addOrEditQuestion(!isNewEntry, question)">Edit</button>
        <button class="btn btn-danger p-2" (click)="delete(question, i)">Delete</button>
      </div>
    </li>
  </ul>

  <nav class="float-right pr-3 distance-top">
    <ul class="pagination pagination-sm">
      <li *ngFor="let pageNumber of getNumberAsArray(numberOfPages); let isLast = last; trackBy: trackByIndex" [ngClass]="{active: currentPage == pageNumber}">
        <a (click)="fetchQuestionsChunk(pageNumber)">{{pageNumber}}{{isLast ? '': ' , '}} </a>
      </li>
    </ul>
  </nav>
</div>
