<div class="container mt-4 mb-4">
  <h2>Questions ({{questionsCount}})</h2>
  <div class="mt-4 mb-4">
    <div class="d-flex">
      <div class="p-2">
        <input class="form-control col-sm-10" [(ngModel)]="querySearch" type="text" placeholder="Suche..">
      </div>
      <div class="ml-auto p-2">
        <button class="btn btn-primary" (click)="addOrEditQuestion(isNewEntry)">New Question</button>
      </div>
    </div>
    <div class="ml-auto">
    </div>
  </div>
  <hr>
  <ul class="list-group list-group-flush text-muted" *ngFor="let question of questions | search : querySearch">
    <li class="list-group-item">
      <div class="d-flex">
        <span class="p-2" [routerLink]="[getQuestionId(question)]"> {{question.question}}</span>
        <button class="btn btn-success ml-auto p-2" (click)="addOrEditQuestion(!isNewEntry, question)">Edit</button>
      </div>
    </li>
  </ul>
</div>
