<div class="modal-header">
  <h4 class="modal-title">Write new Question!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #questionForm="ngForm">
  <div class="modal-body">
    <form>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Question : </span>
        </div>
        <textarea class="form-control" aria-label="With textarea" [(ngModel)]="question.question" [ngModelOptions]="{standalone: true}" rows="2"></textarea>
      </div>
    </form>
  </div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-success" (click)="save(questionForm)">Save</button>
</div>
